.idea
node_modules
dist
build
/apps/**
/packages/**
!/apps/demo
!/apps/demo/**
!/packages/api-mock
!/packages/api-mock/**
!/packages/sdk
!/packages/sdk/**
!/packages/types
!/packages/types/**
!/packages/thunder
!/packages/thunder/**

#env
.env
